@page "{ticketId:int}"
@model FlightAlright.Pages.Client.PaymentSuccessModel
<h2>Zwrot biletu zakończony sukcesem ✅</h2>
<p>Dziękujemy.</p>
<a asp-page="/Clients/ClientProfile" class="btn btn-success">Powrót</a>

