@page "{accountId:int}"
@model FlightAlright.Pages.PaymentResults.PaymentSuccessModel
@{
}
<h2>Transakcja zakończona sukcesem ✅</h2>
<p>Dziękujemy.</p>
<a asp-page="/Clients/ClientProfile" class="btn btn-success">Powrót</a>
