@page
@model FlightAlright.Pages.Admin.AddFlightModel
@{
    ViewData["Title"] = "Dodaj nowe połączenie lotnicze";
}

    <h2>Dodaj nowe połączenie lotnicze</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
    <form method="post">
    <div class="mb-3">
        <label asp-for="Flight.DepartureAirportId" class="form-label">Lotnisko startowe</label>
        <select asp-for="Flight.DepartureAirportId" class="form-select" asp-items="Model.AirportSelectList" required>
            <option value="">-- Wybierz lotnisko --</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Data i czas odlotu
            @(Model.Flight?.DepartureAirport?.TimeZoneOffset != null
                ? $"(zgodny z lokalną strefą czasową: UTC{(Model.Flight.DepartureAirport.TimeZoneOffset >= 0 ? "+" : "")}{Model.Flight.DepartureAirport.TimeZoneOffset})"
                : "(strefa czasowa nieznana)")
        </label>
        <input asp-for="Flight.DepartureDate" class="form-control" type="datetime-local" required />
    </div>


    <div class="mb-3">
        <label asp-for="Flight.ArrivalAirportId" class="form-label">Lotnisko docelowe</label>
        <select asp-for="Flight.ArrivalAirportId" class="form-select" asp-items="Model.AirportSelectList" required>
            <option value="">-- Wybierz lotnisko --</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Data i czas odlotu
            @(Model.Flight?.ArrivalAirport?.TimeZoneOffset != null
                ? $"(zgodny z lokalną strefą czasową: UTC{(Model.Flight.ArrivalAirport.TimeZoneOffset >= 0 ? "+" : "")}{Model.Flight.ArrivalAirport.TimeZoneOffset})"
                : "(strefa czasowa nieznana)")
        </label>
        <input asp-for="Flight.ArrivalDate" class="form-control" type="datetime-local" required />
    </div>

    <input type="hidden" name="newFlightId" value="@Model.newFlightId" />
        <button type="submit" class="btn btn-primary">Dalej</button>
    </form>