@page
@model FlightAlright.Pages.Admin.AdminProfileModel
@{
	ViewData["Title"] = "Panel Administratora";
}

<div class="row">
    <div class="col-md-auto">
        @await Component.InvokeAsync("AdminMenu")
    </div>
    <div class="col bg-light">
        <form method="post">
            <h2>Witaj, @Model.AdminName!</h2>


            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            <p>To jest panel administratora.</p>

            <!-- additional content here-->
            <p>additional content goes here</p>
        </form>
    </div>
</div>