@page
@model FlightAlright.Pages.Admin.PersonelManagementModel
@{
    ViewData["Title"] = "Zarządzanie personelem";
}

<div class="row">
    <div class="col-md-auto">
        @await Component.InvokeAsync("AdminMenu")
    </div>

    <div class="col bg-light p-4 rounded shadow-sm">
        <h2>Zarządzanie personelem</h2>
        <p>W tym panelu możesz dodawać nowych pracowników oraz przeglądać istniejących.</p>

        <a class="btn btn-primary mb-3" asp-page="/Employees/Create">➕ Dodaj nowego pracownika</a><br />
        <a class="btn btn-secondary" asp-page="/Employees/Index">👥 Zobacz listę pracowników</a>
    </div>
</div>
