@page
@model FlightAlright.Pages.Employees.EmployeeProfileModel
@{
	ViewData["Title"] = "Panel Pracownika";
}

<h2>Witaj, @Model.EmployeeName!</h2>


@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<p>To jest panel pracownika.</p>

<div class="mt-3">
	<a asp-page="/Employees/EditProfile" class="btn btn-warning">Edytuj profil</a>
</div>