@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome to FlightAlright Airlines</h1>
        <img src="~/images/FlightAlright.png" height="300" width="300" alt="FlightAlright Airlines Logo" />
    </div>
    <div>
        <div class="row">
            <div class="mt-3">
                <a asp-page="/FlightSearch" class="btn btn-primary">Wyszukaj lot</a>
            </div>
        </div>
    </div>
</div>
