@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FlightAlright Airlines</h1>
    <img src="~/images/FlightAlright.png" height="300" width="300" alt="FlightAlright Airlines Logo" />
</div>
